.section1Home {
    width: 50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
}

.homeImage {
    z-index: -1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 480px;
    height: 480px;
    margin: auto;

    border-radius: 25px;
}

.homeShade {
    z-index: 0;

    width: 480px;
    height: 480px;
    margin: auto;

    border-radius: 25px;
    background: rgba(0,0,0,.5);
}

.homeRating {
    z-index: 1;

    width: 40px;
    margin: auto;
    padding-top: 40%;

    font-weight: 500;
    color: white;
    font-size: 56px;
}

#homeRange {
    display: block;

    width: 480px;
    margin: 50px auto;
}
