.section1Home {
    width: 50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-left: 25%;
    padding-right: 25%;
}

.homeImage {
    z-index: -1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 480px;
    height: 480px;
    margin: auto;

    border-radius: 25px;
}

.homeShade {
    z-index: 0;

    width: 480px;
    height: 480px;
    margin: auto;

    border-radius: 25px;
    background: rgba(0,0,0,.5);
}

.homeRating {
    z-index: 1;
    text-align: center;
    vertical-align: middle;

    margin: auto;
    padding-top: 40%;
    line-height: 60px;

    font-weight: 300;
    color: white;
    font-size: 80px;
}

/*input range*/

#homeRange {
    display: block;

    width: 480px;
    margin: 50px auto;
}

#homeRange{
    -webkit-appearance: none;
}

#homeRange::-webkit-slider-runnable-track {
    height: 12px;
    background: white;
    border-top: 2px solid rgba(58, 28, 115, 1);
}

#homeRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid rgba(58, 28, 115, 1);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: transparent;
    margin-top: -9px;
}

#homeRange:focus {
    outline: none;
}

/*input range for Firefox*/

#homeRange::-moz-range-track {
    height: 2px;
    background: rgba(58, 28, 115, 1);
    border: none;
    border-radius: 3px;
}

#homeRange::-moz-range-thumb {
    border: 2px solid rgba(58, 28, 115, 1);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: transparent;
}

/*hide the outline behind the border*/
#homeRange:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -7px;
}

#homeRange:focus::-moz-range-track {
    background: rgba(58, 28, 115, 1);
}




















