
.oneSection1login {
    float: left;
    width: 50%;
}

.oneSection2login {
    float: left;
    width: 50%;
    height: 100%;
}

.loginDiv {
    margin: 40% 20%;
}

@media screen and ( max-height: 420px ){
    .loginDiv{
        margin-top: 48px;
    }
}  

#loginTag {
    margin-bottom: 30px;
    margin-top: 9px;
    text-align: center;

    font-size: 25px;
    color: rgba(58, 28, 115, 1);
    font-weight: normal;
}

.loginForm {
    display: block;
    box-sizing: border-box;

    width: 300px;
    height: 42px;
    margin: auto;
    padding-left: 18px; padding-right: 18px;

    background: transparent;
    border: 2px solid rgba(58, 28, 115, 1);
    border-radius: 21px;    
    color: #F7F7Fa;
    font-size: 12px;
    outline: none;
}

.loginForm:hover, .loginForm:focus {
    background: rgba(0,0,0,.3);
    -webkit-transition: background .3s
    border: 2px solid rgba(58, 28, 115, 1);
    transition: background .3s;
}

.loginButton {
    margin-left: 10%;
}

.buttonForm {
    margin-top: 21px;
    margin-left: 3px;
    padding-left: 18px; padding-right: 18px;
    display: inline;
    box-sizing: border-box;

    width: 145px;

    border: none;
    background: rgba(58, 28, 115, 1);
    font-size: 15px;
    border-radius: 21px;
    height: 42px;
    color: #F7F7Fa;
    outline: none;

}

.buttonForm:hover {
    border: none;
    background: rgba(58, 28, 115, .6);
    transition: 0.3s;
}



