/*Top of the page*/

.sectionTopMyPage {
	position: absolute;

	top: 0;
	width: 100%;
	height: 28%;

	background: white;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.profilePicture {
	float: left;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	width: 80px;
	height: 80px;
	margin-top: 6.5%;
	margin-left: 12%;

	border-radius: 50%;
}

.profileInfo {
	float: left;

	margin-top: 6%;
	margin-left: 30px;

	color: rgba(58, 28, 115, 1);
}

.profileName {
	margin-top: 10px;

	font-weight: 500;
}

/*First half of the page*/

.section1myPage {
	float: left;
	overflow: hidden;

	margin-top: 16%;

	width: 50%;
	height: 72vh;
}

.myPostRecentRating {
	z-index: 1;
	text-align: center;

	padding-top: 33%;
	margin: 0 auto;

    font-weight: 300;
    color: white;
    font-size: 40px;
}

.myPostProgress {
	float: left;

	width: 50%;
	margin-top: 35%;
	height: 7px;
	background: white;
	border: none;
}

/*Second half of the page*/

.section2myPage {
	float: left;
	overflow: hidden;

	margin-top: 16%;

	width: 50%;
	height: 72vh;
}


/*Both sections*/

.myPostScroll {
	margin-top: 15%;
	height: 100%;

	overflow: scroll;

}

.myPost {

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	margin-top: 1%; 
	margin-bottom: 13%; 
	margin-left: auto;
	margin-right: auto;
	width: 62%;
	height: 67%;

	border-radius: 25px;
}

.myPostShade {
	width: 100%;
	height: 100%;

	border-radius: 25px;
}

.myPostShade:hover {
	background-color: rgba(0,0,0,.3);

	transition: 0.3s;
}

.myPostHeader {
	position: absolute;

	margin-top: 2%;
	margin-left: 9%;

	font-weight: 500;
	color: rgba(58, 28, 115, 1);
}

.myPostComment {
	float: right;

	padding-top: 0px;
	padding-right: 10px;

	color: rgba(58, 28, 115, 1);
}

.myPostEmptySpace {
	width: 100%;
	height: 150px;

	background: white;
}








