
.imgsquare div {
    width: 24.5%;
    height: 280px;
    margin: 0.25%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgsquare{
    height: 100%;
    position: relative;
    z-index: 0;
}