/*First half of the page*/

.oneSection1signup {
    float:left;

    width: 50%;
} 

.signupDiv {
    margin: 30% 20%;
}

@media screen and ( max-height: 420px ){
    .signupDiv{
        margin-top: 48px;
    }
}  


#signupTag {
    margin-bottom: 0px;
    margin-top: 9px;

    text-align: center;
    font-size: 25px;
    color: rgba(58, 28, 115, 1);
}

.signForm {
    display: block;
    box-sizing: border-box;

    width: 300px;
    height: 42px;
    margin: auto;
    padding-left: 18px; 
    padding-right: 18px;

    background: transparent;
    border-radius: 21px;
    border: 2px solid rgba(58, 28, 115, 1);
    color: rgba(58, 28, 115, 1);
    font-size: 12px;
    outline: none;
}

.signForm:hover, .signForm:focus {
    background: rgba(0,0,0,.3);
    outline: none;

    color: white;
    transition: background .3s;
    -webkit-transition: background .3s
}

#signupTag{
    margin-bottom: 30px;

    font-weight: normal;
}

#signUp {
    margin-top: 20px;
    width: 300px;

    border: none;
    background: rgba(58, 28, 115, 1);
    font-size: 15px;
    color: white;
    outline: none;
}

#signUp:hover {
    margin-top: 20px;

    border: none;
    background: rgba(58, 28, 115, .6);
    transition: 0.3s;
}

/*Second half of the page*/

.oneSection2signup {
    float: left;
    
    width: 50%;
    height: 100%;
}

